{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>

    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {%block title%} {% endblock %}
    <link href="{% static 'landing/css/style.css' %}" rel="stylesheet">
    <!-- link to css style goes here -->
    </head>
    <body>
        {% include 'landing/_snipets/_navbar.html'%}
        {%for message in messages%}
        <ul>
            <li> {{message}}</li>
        </ul>
        {% endfor %}

        {%block content%} {% endblock %}

        {% include 'landing/_snipets/_footbar.html'%}

    <!-- js script goes here -->
    </body>
    
</html>