{%extends 'landing/base.html'%}
{% load static%}

{% block title %} <title>Home</title> {% endblock %}

{% block content%} 
<div class="bg-blue-400 text-color-darker hover:bg-green-200 ">
<h1 class="text-color">Enter your email:</h1>
<form method="post" action="{%url 'landing_page' %}">
    {% csrf_token %}
    <input type="email" name="email" id="id_email" maxlength="80" placeholder="Enter you email here">
    <button type="submit" id="email-submit" class="button">Enter</button>
</form>
</div>
{%endblock%}