{%extends 'landing/base.html'%}
{% load static%}

{% block title %} <title>Welcome_back_page</title> {% endblock %}

{% block content%} 
<h1>Thank you for your subscription</h1>
<p>Please consider supporting this project and having your name cited as one of our sponsors</p>

<p> Please consider following this challenge on social medias</p>
<ul>
    <li>X</li>
    <li>Youtube</li>
    <li>medium</li>
    <li>....</li>
</ul>

<p><a href="/?reset=true">Go back to the landing page</a></p>

{%endblock%}
